.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 5px 25px;
    max-width: 1500px;
}

.header__logo {
    color: #f6dc5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family:"Lucida Calligraphy";
}